* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.home-top-section {
    width: 100%;
    height: 85%;
    background-color: #8b9e70;
}

.header-name {
    font-weight: 800;
    font-size: 32px;
}

nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

nav h1 {
    color: white;
    font-weight: 600;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #f1f3f520;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.nav-links a:last-child {
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    background-color: #313514;
    text-decoration: none;
    color: white;
}

.nav-links a:last-child:hover {
    background-color: #e1e4c7;
    color: #313514;
    box-shadow: 0 0 50px 10px #606b5186;
}

.home-container {
    display: grid;
    margin-top: 40px;
    align-items: start;
    margin-left: 7%;
    margin-right: 7%;
    grid-template-columns: repeat(2, 1fr);
}

.home-container-left {
    display: grid;
    font-size: 50px;
    align-self: center;
    margin-bottom: 40%;
}

.home-container-left h1 {
    color: #f8f9fa;
    line-height: 0.9;
    font-weight: 800;
}

.home-container-left h6 {
    color: #f8f9fa;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #e9f5d8;
    margin-bottom: 20px;
}

.btn-filled {
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    font-size: 24px;
    background-color: #313514;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.btn-filled:hover {
    background-color: #e1e4c7;
    color: #313514;
    box-shadow: 0 0 50px 10px #606b5186;
}

.btn-outlined {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    font-size: 24px;
    background-color: transparent;
    margin-left: 20px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.btn-outlined:hover {
    background-color: white;
    color: #606b51;
    box-shadow: 0 0 50px 10px #606b5186;
}

.home-container-right {
    display: grid;
    position: relative;
}

.wall-pic {
    width: 50%;
    display: block;
    justify-self: center;
}

.sofa {
    width: 130%;
    overflow: hidden;
    margin-right: 390px;
}

.wave-home {
    margin-top: -7%;
}


/* product section */

#products {
    height: 70vh;
    margin-top: -10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #d8dfcf;
}

.container-products {
    display: grid;
    padding: 20px 80px;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.p-item1 {
    background-color: #e4e6e2;
}

.product-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.3s ease;
    justify-content: flex-start;
}

.badge-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.product-item h1 {
    font-weight: 800;
    font-size: 50px;
}

.product-item p {
    font-weight: 400;
    font-size: 25px;
    color: #606b51;
}

.item-p {
    margin-top: 40px;
}

.arrow-icon {
    width: 30px;
    height: 30px;
}

.product-item button {
    width: 60px;
    height: 60px;
    align-self: center;
    margin-top: 60px;
    background-color: #313514;
    border-radius: 50%;
    border: none;
    transition: all 0.3s ease-in-out;
}

.product-item button:hover {
    background-color: #636459;
    box-shadow: 0 0 10px 3px #636459;
    cursor: pointer;
}

.product-item img {
    height: 50%;
    width: 60%;
    align-self: center;
}

.chair-desc,
.chair-price {
    color: black !important;
    align-self: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600 !important;
    text-shadow: 1px 1px 10px #c7c7c7;
}

.chair-price {
    font-weight: 800 !important;
}

.product-item:not(:first-child):hover {
    background-color: #f5f5f555;
    cursor: pointer;
    box-shadow: 0 0 40px 5px #c4c4ba;
}

.btn-buy {
    width: 40%;
    align-self: center;
    margin-top: 40px;
    text-align: center;
}

.btn-buy:hover {
    box-shadow: 0 0 40px 5px #c4c4ba;
}


/* About Section */

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.about-container h1 {
    text-align: center;
    margin-top: -12%;
    font-weight: 800;
    text-shadow: 5px 5px 5px #c7c7c7;
    font-size: 48px;
}

.about-box {
    width: 800px;
    height: 250px;
    margin: 100px auto;
    background-color: black;
    background-color: #d8dfcf;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    transition: all 0.3s ease;
}

.about-box:hover {
    transform: scale(1.1);
}

.about-box img {
    width: 300px;
    height: 300px;
    transform: scale(1.4) translate(60px, -20px);
}

blockquote h1 {
    text-align: center;
    margin-top: -12%;
    font-weight: 600 !important;
    font-size: 32px !important;
}

blockquote p {
    margin: 10px 50px;
    padding-left: 20px;
    font-weight: 400;
    text-align: justify;
}